/*
    2 col with margin: 0 auto,
    rounded corner for an element,
    opacity for an element,
    css for print and mobile
*/

/*
      Dark Blue: #061726
       Mid Blue: #264F73
     Light Blue: #6FB1BF
    Light Green: #7FA66D
     Dark Green: #5B7343
           Gray: #AEAEAE
          White: #FFFFFF
          Black: #000000
          
          Beige: #D4C6A5
          Lilac: #CFA5D4
 Lullworth Blue: #A5ADD4
*/



/*
    Fixes and resets.
*/



/* IE9 doesn't respect <main>, but we can fix that by setting display: block ourselves. */ 
main {
    display: block;
}


/* Resets! */


h1, h2, h3, h4, h5, h6, p, em, strong, html, wrapper, body, img, ul, ol, li, 
table, thead, tfoot, tbody, tr, th, td, caption, section {
    margin: 0;
    padding: 0;
}



/*
      Default styles (small screen widths).
*/



/* Classes */


.centered {
    text-align: center;
    text-indent: 0;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}


/* Tags */


a {
    color: #A5ADD4;
    text-decoration: none;
    text-shadow: 1px 1px;
}

a:hover {
    text-decoration: underline;
}


/* Body/Wrapper */


body {
    background-color: #D4C6A5;
    margin: 1em;
    font-family: Courier New, sans-serif;
    font-size: 1em;
}


/* Header */


#banner {
    text-align: center;
    margin-bottom: 1em;
}

#banner #logo img {
    width: 100%;
    max-width: 377px;
}

#contact {
    text-align: center;
    margin-bottom: 1em;
}

#contact p {
    margin-bottom: 0.5em;
}


/* Navigation */


nav {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    margin-bottom: 1em;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 1em;
}

nav ul li a:hover {
    background-color: #A5ADD4;
    color: #D4C6A5;
}

nav #navHere {
    padding-bottom: 2px;
    border-bottom: 1px solid #000000;
}


/* Main Column */


#mainCol p {
    margin-bottom: 1em;
    text-indent: 1.5em;
}


/* Side Column */


#sideCol {
    text-align: center;
}

#weeklyAds, #coupons {
    border-top: 1px solid #000000;
    padding-top: 1em;
}

#weeklyAds {
    margin-top: 1em;
}

#coupons {
    margin-top: 0.5em;
}

#weeklyAds h2, #coupons h2 {
    font-size: 1.25em;
    margin-bottom: 1em;
    text-decoration: underline;
    text-shadow: 1px 1px;
}

#spaceRockCandy img, #girlScoutCookies img {
    border-radius: 2em;
    margin-bottom: 1em;
    max-width: 300px;
    width: 100%;
}

#kidsMealCoupon img, #onlineCoupon img {
    margin-bottom: 1em;
    max-width: 300px;
    width: 100%;
}

#onlineCoupon img {
    opacity: 0.5;
}


/* Footer */


footer {
    border-top: 1px solid #000000;
    margin-top: 0.25em;
    padding-top: 1em;
    text-align: center;
}

footer p {
    margin-bottom: 0.5em;
}


/* Home page */


#joke {
    font-size: 1.25em;
    margin-bottom: 1em;
    text-align: center;
}


/* Menu page */


#menus {
    font-family: "Space Mono";
    margin: 0 auto;
}

#menus thead th {
    padding-bottom: 0.5em;
}

#menus tbody td {
    padding: 0.25em;
}

#menus caption {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 1em 0;
    margin-bottom: 1em;
}

#menus .category {
    font-weight: bold;
    padding-bottom: 0.5em;
    text-align: center;
}

/* @note This doesn't work if #menus is a <section> instead of a <div>; not sure why. */
#menus tfoot, #menus tbody tr:nth-child(even) {
    background-color: #DDDDDD;
}

#menus tfoot {
    text-align: center;
}

#menus tfoot td {
    padding: 0.5em;
}

#menus table {
    border-collapse: separate;
    border-spacing: 2px;
    margin-bottom: 1em;
    margin-right: 0;
    width: 100%; /* This removes a "magic" margin-right on the tables. */
}

#homeBackToLinks, #menuBackToLinks, #footerBackToTop {
    text-align: center;
    text-indent: 0;
}



/*
    Print.
*/



@media print {
    body {
        font-family: "Times New Roman", serif;
    }
    
    header, nav, footer, #sideCol, #homeBackToLinks, #menuBackToLinks {
        display: none;
    }
}



/*
    Screens with width >= 768px.
*/



@media only screen and (min-width: 768px) {
    #wrapper {
        margin: 0 auto;
        width: 80%;
    }
    
    #mainCol {
        float: left;
        width: 70%;
    }
    
    #sideCol {
        float: left;
        width: 30%;
    }
    
    #sideCol #weeklyAds {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }
    
    #spaceRockCandy img, #girlScoutCookies img, #kidsMealCoupon img, #onlineCoupon img {
        max-width: 150px;
    }
    
    #spaceRockCandy img, #girlScoutCookies img {
        border-radius: 1em;
    }
}
